{% extends 'base.html' %}

{% block content%}

    <h1>Elliptic Curve Multiplication in \(F_p\)</h1>

    <p>Please provide coefficients for the elliptic curve \(Y^2 = X^3 + aX + b\) mod \(p\).<br>
    And coordinates for the point \(P\) and the number \(n\) you want to multiply it by.</p>

    The result \(R\) was obtained implementing the algorithm Double and Add for \(F_p\), explained in 
    <a href="static/theory/license.pdf#page=61" target="_blank" title="Documentation">Chaper 5.4.2</a>.
        
    <br><br>

    <form id = "myForm" action = "/multiplication_f" method = "POST">
        <label> Coefficient \(a\):</label> 
        <input type = "number" name = "coefficient_curve_a" required/> 
        <br>
        <label> Coefficient \(b\): </label> 
        <input type = "number" name = "coefficient_curve_b" required/>
        <br><br>

        <label> Prime number \(p\): </label>
        <input type = "number" name = "prime_p"/> 
        <br><br>

        <label> Number \(n\): </label>
        <input type = "number" name = "multiply_number"/> 
        <br><br>
        
        <label> Point \(P_x\) coordinate: </label> 
        <input type = "text" name = "coordinate_p_x"/> 
        <br>
        <label> Point \(P_y\) coordinate: </label>
        <input type = "text" name = "coordinate_p_y"/>
        <br><br>

        <input type = "submit" value = OK />
        <input type = "button" onclick = "reset()" value = "Reset">
        <br>
    </form>

    <br>

    {% if error_flag %}
        {{error_message}}

    {% elif plot_url %}
        <div class = "image">
            <img src = {{plot_url}} alt = "Chart cannot be displayed">
        </div>

        <br><br>

        <p>The results are the following: </p>
        
        <table>
            <th>\(Point\)</th>
            <th>\(X\)</th>
            <th>\(Y\)</th>

            {% for point in data %}
                <tr>
                    <td>\({{point}}\)</td>
                    <td>\({{data[point][0]}}\)</td>
                    <td>\({{data[point][1]}}\)</td>
                </tr>
            {% endfor %}
        </table>

        <br><br>

        The step by step calculation is reprezented in the following table:
        <br><br>

        <table>
            <th>Step \(i\)</th>
            <th>\(n\)</th>
            <th>\(Q = 2^iP\)</th>
            <th>\(R\)</th>

            {% for step in multiplication_steps %}
                <tr>
                    <td>\({{step[0]}}\)</td>
                    <td>\({{step[1]}}\)</td>
                    <td>\({{step[2]}}\)</td>
                    <td>\({{step[3]}}\)</td>
                </tr>
            {% endfor %}
        </table>

        <br><br>

        For this algorithm there were \({{multiplications}}\) multiplications and \({{additions}}\) additions made.
        <br>
        So the result of \({{n}}P\) is \(R({{data['R'][0]}}, {{data['R'][1]}})\).

    {% endif %}

    <br><br>

{% endblock %}

