
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('start') }}">Elliptic Curve Calculator</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Addition
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{ url_for('addition_r') }}">Addition in $R$</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ url_for('addition_f') }}">Addition in $F_p$</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Multiplication
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{ url_for('multiplication_r') }}">Multiplication in $R$</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ url_for('multiplication_f') }}">Multiplication in $F_p$</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Simulate
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{ url_for('normal_ecdh') }}">ECDH key exchange</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ url_for('improved_ecdh') }}">Improved ECDH key exchange</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ url_for('normal_eceg') }}">Elliptic ElGamal</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ url_for('improved_eceg') }}">Improved elliptic ElGamal</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ url_for('normal_ecdsa') }}">ECDSA</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    ECDLP
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{ url_for('time_ecdlp') }}">Time to break ECDLP</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ url_for('atack_ecdlp') }}">Simulate ECDLP attack</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Order
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{ url_for('order_point') }}">Order of point $P \in E(F_p)$</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ url_for('order_ec') }}">Order of elliptic curve over $F_p$</a>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('random_ec_f') }}">Generate random EC over $F_p$</a>
            </li>
            
            </ul>
        </div>
    </div>
  </nav>