{% extends 'base.html' %}

{% block content%}

    <h1>Simulate elliptic Diffie-Hellman key exchange</h1>

    <p>Please provide coefficients for the elliptic curve \(Y^2 = X^3 + aX + b\) mod \(p\) (where \(p\) is a large prime number).<br>
    Coordinates for the point \(P \in E(F_p)\) and Alice's and Bob's secret numbers \(n_A\) and \(n_B\). <br>
    We will show the step by step simulation of the elliptic curve Diffie-Hellman key exchange.</p>

    The shared key was obtained implementing the algorithm explained in 
    <a href="static/theory/license.pdf#page=62" target="_blank" title="Documentation">Chaper 5.5.1</a>.
        
    <br><br>

    <form id = "myForm" action = "/normal_ecdh" method = "POST">
        <label> Coefficient \(a\):</label> 
        <input type = "number" name = "coefficient_curve_a" required/> 
        <br>
        <label> Coefficient \(b\): </label> 
        <input type = "number" name = "coefficient_curve_b" required/>
        <br><br>

        <label> Prime number \(p\): </label>
        <input type = "number" name = "prime_p"/> 
        <br><br>  
        
        <label> Point \(P_x\) coordinate: </label> 
        <input type = "text" name = "coordinate_p_x"/> 
        <br>
        <label> Point \(P_y\) coordinate: </label>
        <input type = "text" name = "coordinate_p_y"/>
        <br><br>

        <label> Alice's secret number \(n_A\): </label>
        <input type = "number" name = "secret_n_a"/> 
        <br>
        <label> Bob's secret number \(n_B\): </label>
        <input type = "number" name = "secret_n_b"/> 
        <br><br>

        <input type = "submit" value = OK />
        <input type = "button" onclick = "reset()" value = "Reset">
        <br>
    </form>

    <br>

    {% if error_flag %}
        {{error_message}}

    {% elif plot_url %}
        <br>

        Elliptic Curve Diffie-Hellman key exchange is summarized in the following picture:

        <div class = "image">
            <img src = {{plot_url}} alt = "Chart cannot be displayed">
        </div>

        <br><br>
        

        <h4>Step 1: Configuration</h4>
        Alice and Bob decide and and publish a prime number \(p = {{ec[2]}}\), the elliptic curve \(E\) over \(F_{ {{ec[2]}} }\) and 
        the point \(P \in F_{ {{ec[2]}} }\):
        <p><span class="math display">
            \begin{equation}
            \begin{split}
                &amp; E : Y^2 = X^3 + {{ec[0]}}X + {{ec[1]}} \text{ (mod } {{ec[2]}} \text{) } \\
                &amp; P = {{p}} \in E(F_{ {{ec[2]}} })
            \end{split}
            \end{equation}
        </span></p>

        <br><br>


        <h4>Step 2: Secret key computation</h4>
        Alice chosses a secret number \(n_A = {{secret_numbers[0]}}\), and calculates her public key
        <p><span class="math display">
            \begin{equation}
            \begin{split}
                Q_A &amp; = n_AP \\
                &amp; = {{secret_numbers[0]}} \cdot {{p}} \\
                &amp; = {{public_keys[0]}} \in E(F_{ {{ec[2]}} })
            \end{split}
            \end{equation}
        </span></p>

        <br>

        Bob chosses a secret number \(n_B = {{secret_numbers[1]}}\), and calculates his public key
        <p><span class="math display">
            \begin{equation}
            \begin{split}
                Q_B &amp; = n_BP \\
                &amp; = {{secret_numbers[1]}} \cdot {{p}} \\
                &amp; = {{public_keys[1]}} \in E(F_{ {{ec[2]}} })
            \end{split}
            \end{equation}
        </span></p>

        <br><br>


        <h4>Step 3: Public key exchange</h4>
        Alice sends Bob \(Q_A = {{public_keys[0]}}\) and Bob sends Alice \(Q_B = {{public_keys[1]}}\).
        <br>
        Alice uses her secret number \(n_A\) and computes the shared key
        <p><span class="math display">
            \begin{equation}
            \begin{split}
                Q_A' &amp; = n_AQ_B \\
                &amp; = {{secret_numbers[0]}} \cdot {{public_keys[1]}} \\
                &amp; = {{shared_keys[0]}} \in E(F_{ {{ec[2]}} })
            \end{split}
            \end{equation}
        </span></p>

        <br>

        Bob uses his secret number \(n_B\) and computes the shared key
        <p><span class="math display">
            \begin{equation}
            \begin{split}
                Q_B' &amp; = n_BQ_A \\
                &amp; = {{secret_numbers[1]}} \cdot {{public_keys[0]}} \\
                &amp; = {{shared_keys[1]}} \in E(F_{ {{ec[2]}} })
            \end{split}
            \end{equation}
        </span></p>

        <br><br>


        <h4>Step 4: Secret common key</h4>
        As we can determine, Alice and Bob have the same result, that is because
        <p><span class="math display">
            \begin{equation}
                Q_A' = n_AQ_B = n_A(n_BP) = n_B(n_AP) = n_BQ_A = Q_B' 
            \end{equation}
        </span></p>

        <br>

        The secret common key is the \(x\) coordinate of the result, so the secret common key is \({{shared_keys[0][0]}}\).

    {% endif %}

    <br><br>

{% endblock %}

